<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CONFMATE</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"
		></script>
		<link rel=stylesheet type=text/css href="/stylesheets/landing.css">
		<script
			src="https://kit.fontawesome.com/b32f384ef6.js"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/script/parallax.js"></script>
	</head>

	<body>
		<section id="about-main">
			<nav
				class="navbar fixed-top navbar-dark bg-dark navbar-expand-md navbar-main"
				id="nav-bar">
				<div class="container">
					<div>
						<a class="navbar-brand nav-item">Conf Mate</a>
					</div>

					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<i class="fas fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link about">About</a>
							</li>
							
							<ul class="nav navbar-nav navbar-right">
                    			<% if(!currentUser){ %>
                        			<li class="nav-item login"><a class="nav-link">Login</a></li>
                    			<% } else { %>
                        			<li class="nav-item">
										<a class="nav-link" href="/profile">Hi <%=currentUser.username%></a>
									</li>
                        			<li class="nav-item">
										<a class="nav-link" href="/logout">Logout</a>
									</li>
                    			<% } %>
                			</ul>			
							
							<li class="nav-item">
								<a class="nav-link contact">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div
				class="text-center about-info-container parallax-window"
				data-parallax="scroll"
				data-image-src="https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?w=1920&q=80">
				<div class="jumbotron">
					<section id="reveal">
						<h2>
							<div id="reveal1" class="about-info-title">
								Conf
								<span id="reveal2">Mate</span>
							</div>
						</h2>
					</section>

					<p class="about-info-subtitle">
						A <span id="pika">free</span> video conferencing website
						<br />Developed in India
					</p>
				</div>
			</div>

			<div class="info-main">
				<a class="text-center tm-down-arrow-link">
					<i class="fas fa-chevron-circle-down fa-4x"></i>
				</a>
			</div>
		</section>

		<section id="about-body" class="about-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img
							src="https://images.unsplash.com/photo-1586282023639-dbd68e65a9fe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
							alt="Image"
							class="img-fluid img-about"
						/>
					</div>
					<div class="col-lg-6">
						<div class="about-text-container text-center">
							<h2 class="content-heading">Introduction</h2>
							<p class="content">
								This website was created as a part of the special topic mini project given in our Third Semester.
							</p>
							<p>
								The main reason we chose to build a video calling website was to start an initiative <strong>Develop in India</strong> correlated to <strong>Make in India</strong>.
							</p>
							<p>
								Also our goal was to provide an interface which is free of cost for video confrencing.
							</p>
							<div class="about-next">
								<a href="/profile" class="btn button">Start Conferencing</a>
							</div>
						</div>
					</div>
				</div>
				<% if(!currentUser){ %>
				<div id="about-login" class="row about-bottom text-center">
					<div class="col-lg-6">
						<i class="fas fa-user-plus fa-5x ico-logo"></i>
						<h4 class="text-center content-heading">New User</h4>
						<p>Get started with a new account</p>
						<div class="about-next">
							<a href="/signup" class="btn button">Sign Up</a>
						</div>
					</div>
					<div class="col-lg-6 mt-5 mt-lg-0">
						<i class="fas fa-user fa-5x ico-logo"></i>
						<h4 class="text-center content-heading">Welcome Back</h4>
						<p>Log in to an existing account</p>
						<div class="about-next">
							<a href="/login" class="btn button">Login</a>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</section>

		<section id="contact" class="contact-main">
			<div
				class="parallax-window"
				data-parallax="scroll"
				data-image-src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1920&q=80"
			>
				<div class="container tm-container-contact jumbotron">
					<div class="col-lg-12">
						<h2 class="mb-4 tm-section-title content-heading">Contact Us</h2>
						<div class="mb-5 tm-underline">
							<div class="tm-underline-inner"></div>
						</div>
						<p class="mb-5">
							For any queries related to the website or for hiring purposes please use the modes below for communication.
						</p>
					</div>

					<div class="contact-info row">
						<div class="col-lg-6 linker">
							<p><strong>Atul Anurag</strong></p>
							<p>
								<a href="mailto:itsatulanurag@gmail.com">
									<i class="fas fa-envelope fa-3x"></i>
									<br />
									itsatulanurag@gmail.com
								</a>
							</p>
							<br />
							<p>
								<a href="tel:+91-8002452345">
									<i class="fas fa-phone fa-3x"></i>
								<br /><br />
								+918002452345
								</a>
							</p>
							
							<p>
								<a href="https://www.instagram.com/itsatulanurag/" target ="_blank">
									<i class="fab fa-instagram fa-3x"></i>
									<br>
									Instagram
								</a>
							</p>
						</div>
						<div class="col-lg-6 linker">
							<p><strong>Danish Hashmi</strong></p>
							<p>
								<a href="mailto:shahdanishhashmi@gmail.com">
									<i class="fas fa-envelope fa-3x"></i>
									<br />
									shahdanishhashmi@gmail.com
								</a>
							</p>
							<br />
							<p>
								<a href="tel:+91-8088194103">
									<i class="fas fa-phone fa-3x"></i>
									<br /><br>
									+918088194103
								</a>
							</p>
							<p>
								<a href="https://www.instagram.com/danish._.hashmi/" target ="_blank">
									<i class="fab fa-instagram fa-3x"></i>
									<br>
									Instagram
								</a>
							</p>
						</div>
					</div>
					<div class="repo">Git Repo: <a href ="https://www.github.com/thelonewolff/Conf-Mate" target="_blank">Conf-Mate</a> </div>
				</div>
			</div>
		</section>
		
		<script>
			$(".fa-chevron-circle-down").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-body").offset().top,
					},
					"slow"
				);
			});
			$(".navbar-brand").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-main").offset().top,
					},
					"slow"
				);
			});
			$(".about").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-body").offset().top,
					},
					"slow"
				);
			});
			$(".login").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-login").offset().top,
					},
					"slow"
				);
			});
			$(".contact").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#contact").offset().top,
					},
					"slow"
				);
			});
		</script>
		
	</body>
</html>
